* {
    box-sizing: border-box;
}

body {
    margin: 0;
}
.container {
    margin:auto;
    width: 80%;
    max-width: 1200px;
    margin-top:2em;
}
/*.rows{*/
    /*width:100%;*/
    /*border:1px solid black;*/
    /*margin-bottom:2em;*/
/*}*/
.rows{
    width:100%;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}
/*.one-half,*/
/*one-third,*/
/*one-fourth,*/
/*one-eight{*/
    /*border:1px solid black;*/
    /*float:left;*/



/*@media screen and (min-width: 500px) {*/
    .one-half,
    .one-third,
    .one-fourth,
    .one-eight,
    .two-third
    .one-third{
        width: 100%;
        border: 1px solid black;
        float: left;
        margin-bottom: 2em;
    }

@media screen and (min-width: 768px) {
    .one-half {
        width: 50%;
        background-color:aqua;
    }
    .one-third{
        width:33.33%;
        background-color:pink;
    }
    .one-fourth{
        width:25%;
        background-color:green;
    }
    .one-eight{
        width:12.5%;
        background-color:blueviolet;
    }
    .two-third{
        width:66.66%;
    }
    .one-third{
        width:33.33%;
    }
}
